<!doctype html>
<html lang="zh-CN">
  <head><link
    rel="preconnect"
    href="https://fonts.googleapis.com"
  />
  <link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital,wght@0,400;1,400&display=swap"
    rel="stylesheet"
  />
  <style>
    h1,
    h2 {
      font-family: "Instrument Serif", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Arial;
    }
  </style>
  

    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title or "My Collection Garden" }}</title>
    <link rel="stylesheet" href="/assets/styles.css">

  </head>
  <body>
    <header class="site-header">
      <a href="/">Sense collections</a>
      <!-- <nav>
        <a href="/">All</a>
      </nav> -->
    </header>

    <main class="container">
      {{ content | safe }}
    </main>

    <footer class="site-footer">
      <small>© {{ (site and site.author) or "Gracie Hong" }}</small>
    </footer>
  </body>
</html>
