---
templateEngineOverride: njk
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title or "Piece Collections" }}</title>

    <!-- 标题 买手店质感  show structure  to all page--> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital,wght@0,400;1,400&display=swap"
      rel="stylesheet"
    >


    //conect with css
    <link rel="stylesheet" href="/assets/styles.css">

    <style>
      h1, h2 {
        font-family: "Instrument Serif", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Arial;
        letter-spacing: .2px;
      }
    </style>



  </head>
  <body>
    <header class="site-header">
      <div class="container" style="display:flex; align-items:center; justify-content:space-between;">
        <a href="/" style="text-decoration:none; font-weight:600;">Piece Collections</a>
        <nav style="display:flex; gap:16px;">
          <a href="/" style="text-decoration:none;">All</a>
        </nav>
      </div>
    </header>

    <!-- eleventy 会把会把每个页面-->  
    <main class="container">
      {{ content | safe }}
    </main>


  </body>
</html>
